* {
    box-sizing: border-box;
    align-items: center;
}

body {
    background-color: #151e21;
    /* Dark theme background */
    font-family: "Arial", sans-serif;
    color: #7dd8e4;
    text-align: center;
}

/* .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #151e21;
} */

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

.grid_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    align-content: center;
}

#page_title {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

#aligner {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    gap: 2rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    /* background-color: #4d4d4d; */
    background-color: #263237;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;
    min-width: 22rem;
}

.item:hover {
    transform: translateY(-10px);
}

.item h2 {
    font-size: 2.5rem;
}

.item p {
    font-size: 2.5rem;
    color: #fff;
}

.item .big-font {
    font-size: 2.5rem;
}

.name {
    color: #151e21;
    font-size: 20px;
    font-weight: bold;
}

.graph {
    text-align: center;
}

.hname {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    color: #7dd8e4;
    font-size: 20px;
}


#errBox {
    /* display: flex; */
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    background-color: #1F3044;
    width: 80%;
    border: solid black 0.1rem;
    border-radius: 2rem;
    color: #FB9039;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow-y: auto;
    padding: 1rem;
    z-index: 999;
}

#gap {
    height: 4rem;
}

.plotly {
    align-items: center;
    margin-left: 0;
}

.plot2d {
    width: 75%;
    text-align: left;
    min-height: 40rem;
}

.plot3d {
    width: 75%;
    min-height: 50rem;
    background-color: black;
}

#bottom {
    width: 100%;
}

#copyrights {
    color: chartreuse;
}

#last_updated {
    color: #FB9039;
    text-align: right;
}

/* Media query for phones */
@media only screen and (max-width: 1150px) {
    .data {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(1, minmax(100%, 1fr));
    }

    .item {
        width: 100%;
        margin-bottom: 20px;
    }

    .plot2d {
        width: 80%;
        min-width: unset;
        min-height: 25rem;
    }

    .plot3d {
        width: 80%;
        min-width: unset;
        min-height: 25rem;
        background-color: black;
    }

}

@media only screen and (max-width: 800px) {
    .plot2d {
        width: 100%;
        min-width: unset;
        min-height: 20rem;
    }

    .plot3d {
        width: 100%;
        min-width: unset;
        min-height: 25rem;
        background-color: black;
    }
}

/*
een and (max-width: 1150px) {
    .data {
        flex-direction: column;
        align-items: center;
    }

    .item {
        width: 100%;
        margin-bottom: 20px;
    }

    .plot2d {
        width: 100%;
        min-width: unset;
        min-height: 25rem;
    }

    .plot3d {
        width: 100%;
        min-width: unset;
        min-height: 25rem;
        background-color: black;
    }

    .data {
        display: grid;
        width: 40%;
        grid-template-columns: repeat(1, minmax(100%, 1fr));
    }
}

@media only screen and (max-width: 1080px) {
    .data {
        display: grid;
        width: 40%;
        grid-template-columns: repeat(1, minmax(100%, 1fr));
    }

}

@media only screen and (max-width: 850px) {
    .data {
        display: grid;
        grid-template-columns: repeat(1, minmax(100%, 1fr));
    }

}

@media only screen and (min-width: 601px) {
    .plot2d {
        width: 75%;
    }
}
*/